<!DOCTYPE html>
<html>
<head>
    <title>Live TV</title>

    <style>
        body{
            margin:0;
            background:black;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
        }

        video{
            width:90%;
            height:auto;
            border-radius:10px;
        }
    </style>
</head>

<body>

<video controls autoplay>
    <source src="/static/sample.mp4" type="video/mp4">
</video>

</body>
</html>